*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

.botongral{   
    padding: 10px 15px;
    border: solid #d03b40 2px;
    text-decoration: none;
    color: #20303c;
    background: #d03b40;    
}
    
.botongral:hover{
    color: #d03b40;
    background: none;
}

/*img{
    max-width: 100%;
}*/


* div:hover{
    border: 3px solid chocolate;
}

.navegador{
    width: 100%;
    height: 70px;
    padding-left: 150px;
    padding-right: 150px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    
}

.n1{
    display: flex;
    align-items: center;
}

.n2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav a{
    color: #20303c;
    text-decoration: none;
    padding: 20px;
    font-size: 16px;
}

nav a:hover{
    color: #d03b40;
}


.portada{
    width: 100%;
    height: 700px;
    background-image: url(fotos/mujerbarra.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.portada h1{
    font-size: 64px;
    color: #d03b40;
    padding-top: 40px;
    padding-left: 150px;
    
}

.portada p{
    font-size: 28px;
    color: #ffffff;
    padding-left: 80px;
    font-size: 18px;
    
}



/* titulos */

.titulo{
    align-self: flex-start;
    
}

.titulo h2{
    font-size: 38px;
    text-align: justify;
    margin-top: 40px;  
    margin-left: 150px;
}

.titulo hr{ 
    height: 2px;
    width: 70px;
    border: black;
    background-color: black;
    float: left;
    margin-top: 40px;
    margin-left: 150px;
}

/* sobre mi */

#sobremi{
    width: 100%;
    /* probando responsive sin altura con margin*/
    margin-top: 40px;
    margin-bottom: 40px;
    /*height: 600px;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
}


#sobremi .titulo{
    grid-row: 1/2;
    grid-column: 1/2;
}

.sobremifoto{
    grid-row: 1/3;
    grid-column: 2/3;
    display: flex;
    align-items: center;
}

.sobremitexto{
    grid-column: 1/2;
    grid-row: 2/3;
    padding-left: 150px;
    padding-right: 40px;
    font-size: 18px;
    line-height: 2;
    text-align: justify;

}

/* QUIERES ENTRENAR */

.contenedor{
    width: 100%;
    /*height: 600px;*/
    display: grid;
    grid-template-rows: 1fr 3fr;
    background-image: url(fotos/byncrossfit.jpg);
    background-size: cover;
    opacity: 0.9;
    background-attachment: fixed;
}

.contenedor .titulo{
    color: #d03b40;
}

.rowcajas{
    display: flex;
    justify-content: space-around;
    padding-right: 150px;
    padding-left: 150px;
    align-items: center;
}


.caja{    
    width: 280px;
    height: 310px;
    border: solid 5px #d03b40;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 24px;
    text-align: center;
}



/* CONTACTO */

.contacto{
    width: 100%;
    /*height: 300px;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*grid-template-rows: 2fr 2fr repeat(2, 1fr);*/
    grid-template-rows: 2fr repeat(3, 1fr);
    
}

.contacto .titulo{
    grid-column: 1/3;
}

.cdatos{
    padding-left: 150px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cboton{
    grid-column: 1/3;
    padding-left: 150px;
    display: flex;
    align-items: center;
}



.ctitulo{
    padding-right: 150px;
    grid-column: 1/3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #d03b40;
}


/* ------ PERFIL ---------*/

.perfilbanner{
    width: 100%;
    height: 300px;
    background-image: url(fotos/banner.jpg);
    background-size: cover;

}

.formacionfoto img{
    width: 25%;
    position: absolute;
    right: 0px;
    top: 320px;
    border: 8px solid #ffffff;
}

.formaciontexto{
    width: 70%;
    padding-left: 150px;
    padding-top: 80px;
    text-align: justify;
    line-height: 2;
}

.formaciontexto2{
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 20px;
    text-align: justify;
    line-height: 2;
}

.formaciontexto3{
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formaciontexto3 .lista{
    line-height: 2;
}


/* ENTRENAR 1 */

.entrenarbanner{
    width: 100%;
    height: 300px;
    background-image: url(fotos/perfilebanner.jpg);
    background-size: cover;
}

.tituloentrenar{
    font-size: 38px;
}

.cajaentrenar{
    margin-top: 40px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: justify;
    display: grid;
    grid-template-rows: 1fr 3fr;
    gap: 20px;
}

.contenidoentrenar{
    display: flex;
    justify-content: center;
}

.entrenarboton{
    margin: 20px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: center;
}



#cambio{
    background-color: #20303c;
    color: #ffffff;
    margin-top: 20px;
}

/* FORMULARIO E INFO CONTACTO */

.pagcontacto{
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-rows: 1fr 3fr;
    background-color: #20303c;
    color: #ffffff;
}


.contenedorcontacto{
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contactodatos{
    line-height: 2;
}

.campo, .quieroinfo, .textarea{
    padding-top: 15px;
}

.campo input, textarea{
    width: 100%;
    padding: 5px;
}

.quieroinfo{
    line-height: 1.5;
}

.elegir{
    padding-left: 20px;
}

input, textarea{
    border: 1px solid #20303c;
}

.formulario button{
    background-color: #d03b40;
    color: #20303c;
    margin-top: 20px;
    padding: 10px 40px;
    font-size: 18px;
}

